$font-size: 1rem;
$breakpoint: 740px;
$login-container-width: 450px;
$login-container-height: calc(100vh - 20%);
$login-container-padding-left-right: 68px;
$login-container-padding-left-top: 60px;
$login-container-padding-left-bottom: 40px;
$container-padding: 7rem;
$header-height: calc(100vh - 100px);
